.card-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #f0efda;
  border: solid 6px #ac1a22;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  padding-top: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.card-title {
  line-height: 40px;
  color: #ac1a22;
  font-family: "montserrat", cursive;
  font-size: 40px;
  margin: 0px 10px 10px 10px;
  text-align: left;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-price {
  display: inline;
  font-family: "montserrat", cursive;
  font-size: 40px;
  color: #000000;
  margin: 0px 10px;
  text-align: left;
}
