.div {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ac1a22;
  font-size: 40px;
  font-family: "montserrat";
  height: 60px;
  padding: 30;
}

.header {
  margin-bottom: 25px;
}

.footer {
  margin-top: 25px;
}
