.form {
  display: flex;
  gap: 10px;
}

.input {
  font-family: "montserrat", cursive;
  font-size: 20px;
  color: #f0efda;
  border: solid 3px #ac1a22;
  border-radius: 5px;
  width: 300px;
  height: 40px;
}

.button {
  font-family: "montserrat", cursive;
  font-size: 20px;
  color: #f0efda;
  border: solid 3px #ac1a22;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}
